[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "==5.5.1"
psycopg2-binary = "*"
django-cors-headers = "*"
django-environ = "*"
django-prometheus = "*"

[dev-packages]

[requires]
python_version = "3.13"
