apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: default
  labels:
    grafana_dashboard: "1"
data:
  dashboard.json: |
{{ lookup('file', '../k8s/grafana/dashboards/dashboard.json') | indent(4, true) }}